body {
background-image: url(/img/back.png);
background-repeat: repeat;
margin: auto;
width: 900px;
text-align: center;
}

.posts {
	background-color: #E6083B;
}

a:hover {
	color: #000;
}

p {
	text-align: center;

}

IMG {
    display: block;
    margin-left: auto;
    margin-right: auto 
}